* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.Container1 {
    display: inline-flex;
    /* background-color: #ffbdc9; */
    height: 100px;
    align-items: center;
    justify-content: center;
}

nav {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 400px;
    padding: 0;
    /* background: #fff; */
    background-color: rgb(83, 208, 154);
    border-radius: 50px;
    /* padding: 2px; */
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #f9f7f7;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after {
    content: '';
    background: rgb(28, 176, 112);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transform: top 0.5s, opacity 0.5s;
}

nav ul li:hover {
    color: #fff;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}

nav ul li a {
    color: inherit;
    /* 继承父元素的颜色，可根据实际需求换成具体颜色值，如 #333 */
    text-decoration: none;
    /* 去掉下划线 */
}